<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get help on this sample app, see the
  <a href="https://github.com/andreitch/microposts24"><em>Ruby on Rails 6 Microposts App</em>
  repo</a>.
</p>