<footer class="footer">
  <small>
    The <a href="https://github.com/andreitch/microposts24">Ruby on Rails 6 Microposts App</a>
    by <a href="https://www.upwork.com/fl/andreybekker">Andrii Bekker</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
      <!--<li><a href="">News</a></li>-->
    </ul>
  </nav>
</footer>